<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "basehead.njk" %}
        {% block head %}{% endblock %}
    </head>
    <body class="main-background">
        <div class="navbar">
            <div class="left">
                <a href="/">Wave Inscriber</a>
            </div>
            <div class="right">
                <a href="/music">Music</a>
                <a href="mailto:waveinscriber@gmail.com">✉️ waveinscriber@gmail.com</a>
            </div>
        </div>
        <main class="main-content">
            {{ content | safe }}
        </main>
    </body>
</html>