@import url('reset.css');
@import url('main-background.css');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #1b1e28;
    color: white;

    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    /* justify-content: space-between; */

    a {
        text-decoration: none;
        padding: 0.7rem;
        justify-content: center;
        align-content: center;
        font-family: "Gowun Dodum", sans-serif;
    }
}

.navbar .left {
    display: flex;
    margin-left: 3rem;

    a {
        font-size: larger;
        font-weight: bold;

        transition:
            text-shadow ease-in-out .25s;
    }

    a:hover {
        text-shadow:
            -3px -3px 10px purple,
            3px -3px 10px purple,
            -3px 3px 10px purple,
            3px 3px 10px purple,
            -5px -5px 16px blue,
            5px -5px 16px blue,
            -5px 5px 16px blue,
            5px 5px 16px blue;
    }
}

.navbar .right {
    display: flex;
    margin-left: 3rem;

    a {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    a:hover {
        background-color: antiquewhite;
        color: black;
    }
}

.main-content {
    height: 100%;
    width: 100%;

    color: beige;
    flex-grow: 1;
    margin: 0 auto;
    padding: 1rem 12rem;
    max-width: 1250px;

    /* background: linear-gradient(0deg, #363062 0%, #221b2f 100%); */
    /* background: linear-gradient(180deg, #1c1029 0%, #2a1a3a 100%); */
    /* background: linear-gradient(0deg, #1c1029 0%, #1f122d 100%); */
    /* background: linear-gradient(180deg, #181a30 0%, #1f2140 100%); */
    /* background: linear-gradient(145deg, #1c1d20 0%, #25262b 100%); */
    /* background:
        radial-gradient(circle at 20% 20%, rgba(120, 60, 255, 0.08), transparent 60%),
        linear-gradient(180deg, #1a1322 0%, #20162e 100%); */

    background-color: #161426;
    border: solid rgb(13, 8, 26) 0.5px;
    /* background: linear-gradient(0deg, #1d1525, #221b2f); */
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.4),
        0 0 20px inset rgba(0, 0, 0, 0.3);
    /* box-shadow: 
        0 0 30px rgba(0, 0, 0, 0.4),
        inset 0 0 20px rgba(255, 255, 255, 0.03); */

    font-family: "Gowun Dodum", sans-serif;
}