@import url('reset.css');
@import url('main-background.css');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
main {
    height: 100%;
    width: 100%;
    /* display: flex; */
}

.navbar {
    background-color: #1b1e28;
    color: white;

    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */

    a {
        text-decoration: none;
        padding: 0.7rem;
        justify-content: center;
        align-content: center;
        font-family: "Gowun Dodum", sans-serif;
    }
    a:hover {
        background-color: antiquewhite;
        color: black;
    }
}

.navbar .left {
    display: flex;
    margin-left: 3rem;

    a {
        font-size: larger;
        font-weight: bold;
    }
}

.navbar .right {
    display: flex;
    margin-left: 3rem;

    a {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}